@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --app-height: 100%;
}

html {
  font-size: 62.5%;
  overscroll-behavior: none;
  height: 100%;
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #393c41;
  overflow: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  height: 100vh;
}

@media screen and (min-width: 500px) {
  html,
  body {
    height: calc(100vh - calc(100vh - 100%));
  }
}

a {
  color: #393c41;
}

.fade {
  transition: opacity 0.5s ease-in;
}

.fadeIn {
  opacity: 1;
}
.fadeOut {
  opacity: 0;
}

.subHeadlineSpan {
  position: relative;
}

.subHeadlineSpan::after {
  content: '';
  width: 100%;
  height: 1px;
  color: black;
  background-color: black;
  position: absolute;
  left: 0;
  bottom: -2px;
}

.mobile-h1 {
  font-size: 2.7rem;
  text-align: center;
}
